body {
  margin: 0;
  display: block;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logo {
  border-radius: 50%;
  border: 8px solid black;
  max-width: 60px;
}

h1 {
  font-size: 2rem;
}

.form-instructions {
  font-size: 0.8rem;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.rug-check-login {
  align-items: center;
}

.rug-check-login * {
  transform: scale(0.8);
}

button.wallet-adapter-button.wallet-adapter-button-trigger {
  display: flex;
  font-size: 0.8rem;
  line-height: 1.2;
}

.data-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  background: black;
  margin: 1rem auto;
  padding: 1rem 2rem;
  justify-content: center;
  border-radius: 4px;
  font-family: "Orbitron";
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-wrap: break-word;
}

.column:not(:first-of-type) {
  margin-top: 1rem;
}

.col-title {
  /* text-align: left; */
  font-weight: bold;
  font-size: 1.2rem;
}

h3.full-width {
  flex: 1;
  margin: 2rem auto;
  text-transform: capitalize;
  min-width: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: underline;
  background: blue;
  border: 2px solid;
  padding: 7px 0 11px;
  width: min-content;
}

.yellow {
  background: rgb(192, 192, 22);
}

.red {
  background: red;
}

.green {
  background: green;
}

.status-bar {
  text-shadow: 0 0 3px black;
  padding: 0 1rem;
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.form > div {
  margin: 0;
}

.form-input {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form-input input {
  padding: 0.5rem;
}

label {
  display: none;
}

.form-btn {
  margin: 0;
}

.rug-check-login {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .data-body {
    justify-content: space-between;
    flex-direction: row;
  }
  .logo {
    max-width: 120px;
  }

  .rug-check-login * {
    transform: scale(1);
  }

  .column {
    text-align: center;
    margin-top: 0 !important;
    width: calc(33.33333% - 1rem);
  }
  h3.full-width {
    text-align: center;
  }

  form {
    flex-direction: column;
  }

  label {
    display: flex;
    align-items: center;
  }

  .form-input {
    margin: 0.5rem auto;
  }

  .form-input {
    flex-direction: row;
  }

  .form-btn {
    margin: 0.5rem auto;
  }
}
