#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.data-body {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background: black;
  margin: 1rem auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
}

.col-title {
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0;
}

.yellow {
  background: rgb(192, 192, 22);
}

.red {
  background: red;
}

.green {
  background: green;
}

.status-bar {
  text-shadow: 0 0 1px black;
}
